body {
    /*margin: 0;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('/images/bodyback.png');
  }

#settings{
  float: right;
  font-size: larger;
  background-color: black;
}

nav {
    overflow: hidden;
    padding-left: 5px;
    color: white;
    background-image: url('/images/HeadFootBack.png');
    width: 100%;
}

nav h2{

  text-align: left; 
  padding-right: 30px;
}

nav a{
   /*float: left;
   display: block;*/
   padding-right: 16px;
   padding-left: 9px;
   /*padding-bottom: 14px;*/
   text-decoration: none;
   color: white;
 }

.content{
  text-align: center;
}
.content a{
  text-decoration: none;
  color: grey;
}
.contentHome{
  padding-top: 80px;
  text-align: center;
}

#BigButton{
  padding: 20px;
}

#story{
 width: 50%;
 padding-top: 20px;
 padding-bottom: 20px
}

#add{
  background-color: blueviolet;
  border-style: groove;
  border-color: brown;
  float: left;
}

label{
  font-size: small;
}

#navButton:hover {
  background-color: rgb(255, 0, 0);
}

a:hover {
  background-color: rgb(255, 0, 200);
}

td{
  padding-right: 10px;
  padding-bottom: 10px;
}
.addLabel{
  font-size: large;
}
.addText{
  height: 19px;
  width: 299px;
  background-color: deepskyblue;
  color:darkred
}

.midBody{
  padding-left: 15px;
  font-size: 21px;
}

#addButton{
  background-color: crimson;
  height: 48px;
  width: 119px;
  font-size: medium;
  
}
.align-top{
  vertical-align: top;
}

.align-right{
  text-align: right;
}

.fixed-width{
  width: 300px;
}

input, textarea{
  font-family: Arial, Helvetica, sans-serif;
}