<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stream|Lined</title>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <div class = "content">
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message%> </p>
    </div>