<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stream|Lined</title>
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <div class = "contentHome">
        <a id="BigButton" href="/data"><img src="https://cdn.discordapp.com/attachments/788088403089817610/899095858522501221/unknown.png"></img></a>
        <a id="BigButton" href="/multiviewer"><img src="https://cdn.discordapp.com/attachments/788088403089817610/899095700682448896/unknown.png"></img></a>
        <a id="BigButton" href="/streamers"><img src="https://cdn.discordapp.com/attachments/788088403089817610/899083124875624508/unknown.png"></img></a>
    </div>