
<link rel="stylesheet" href="/css/bootstrap.min.css">
<nav>
    <h2><a id="navButton" href='/'><img src="/images/Titleim.png"></a></h2>
    <a id="settings" href=''>settings</a>
    <a href='/data/new'></a>
</nav>