<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stream|Lined</title>
</head>
<body>
    <%- include('./partials/header.ejs')%>
<div class = "content">
    <form method = "POST" action = "/data/<%= story._id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="title" >Title</label></td>
                <td><input type="text" id="title" name="title" value = "<%= story.title%>" class = "fixed-width"></td>
            </tr>
            <tr><td class = "align-top"><label for="content">Content</label></td>
                <td><textarea rows="5" id="content" name="display" class = "fixed-width"><%= story.display%></textarea></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
            </table>        
    </form>

    </div>
