<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Stream|Lined</title>
</head>
<body>
    <nav>
    <h2><a id="navButton" href='/'><img src="/images/Titleim.png"></a></h2>
        <a id="settings" href=''>settings</a>
        <div style="padding-left: 10px;"><a style="font-size: larger;" id="add" href='/data/new'>Add new connection</a></div>
    <div class = "content">
    </nav>
      <div class="midBody">
        <%if(stories.length) {%>
            <p><b>Select a saved clip to view</b></p>
            <%stories.forEach(story=>{%>
               <a style="color: azure;" href = "/data/<%= story._id%>"> <p><%= story.title%></p></a>
           <% });
        } else {%>
            <p><b>Your list is not currently populated, please add connections.</b></p>
        <%}%>
      </div>
    </div>