<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stream|Lined</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>
<div class = "content">
    <form action = '/data' method = 'POST'>
        <table>
            <tr>
                <td><label class="addLabel" for="display">Video Link</label></td>
                <td><input class="addText" type="text" id="author" name="display" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td><label class="addLabel" for="title">Display Name</label></td>
                <td><input class="addText" type="text" id="title" name="title" class = "fixed-width" required></td>
            </tr>
            <tr>
                <td colspan="2" class="align-right"><button id="addButton"><b>Finish Connection</b></button></td>
            </tr>
        </table>        
    </form>

    </div>