<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/788088403089817610/899394452085411855/iu.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Stream|Lined</title>
</head>
<body>
    <nav>
        <%- include('../partials/header.ejs')%>
    </nav>
    <div class = "content">
       <h4 style="font-size: x-large;"><%= story.title%></h4>
       <iframe width=630 height=517.5 src="<%= story.display%>" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <form>
          <button type = "submit" id="addButton" formmethod = "POST" formaction = "/data/<%= story._id%>?_method=DELETE"><b>Delete Clip</b></button>
       </form>
    </div>